# Sandbox 2 - City and Ride Data

In [8]:
# import dependencies
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import statistics as stats

## Import Data

In [9]:
# import ride and city data to Pandas dataframe
ride_data_file = "Resources/ride_data.csv"
city_data_file = "Resources/city_data.csv"
ride_df = pd.read_csv(ride_data_file)
city_df = pd.read_csv(city_data_file)
print(ride_df.head())
print(city_df.head())

                 city                 date   fare        ride_id
0  Lake Jonathanshire  2019-01-14 10:14:22  13.83  5739410935873
1  South Michelleport  2019-03-04 18:24:09  30.24  2343912425577
2  Port Samanthamouth  2019-02-24 04:29:00  33.44  2005065760003
3          Rodneyfort  2019-02-10 23:22:03  23.44  5149245426178
4          South Jack  2019-03-06 04:28:35  34.58  3908451377344
           city  driver_count   type
0   Richardfort            38  Urban
1  Williamsstad            59  Urban
2   Port Angela            67  Urban
3    Rodneyfort            34  Urban
4   West Robert            39  Urban

## Clean and Examine City Data

In [20]:
# get number of rows for each column
city_df.count()

city            120
driver_count    120
type            120
dtype: int64

In [14]:
# examine city data for nan/null values (count and drop)
city_df.isnull().sum()

city            0
driver_count    0
type            0
dtype: int64

In [16]:
# make sure driver count is integer type
city_df.dtypes

city            object
driver_count     int64
type            object
dtype: object

In [18]:
# count total of each type of city
city_df['type'].value_counts()

Urban       66
Suburban    36
Rural       18
Name: type, dtype: int64

## Clean and Examine Ride Data

In [21]:
#count rows in ride data
ride_df.count()

city       2375
date       2375
fare       2375
ride_id    2375
dtype: int64

In [22]:
# find nan/null values in ride data
ride_df.isnull().sum()

city       0
date       0
fare       0
ride_id    0
dtype: int64

In [24]:
# check data types are correct
ride_df.dtypes

city        object
date        object
fare       float64
ride_id      int64
dtype: object

In [33]:
#convert date column to datetime
ride_df['date']= pd.to_datetime(ride_df['date'])

# Merge Data

In [38]:
# merge both datframes on city column

merged_df = pd.merge(ride_df, city_df, how='left', on=['city','city'])
merged_df.head()

,city,date,fare,ride_id,driver_count,type
0,Lake Jonathanshire,2019-01-14 10:14:22,13.83,5739410935873,5,Urban
1,South Michelleport,2019-03-04 18:24:09,30.24,2343912425577,72,Urban
2,Port Samanthamouth,2019-02-24 04:29:00,33.44,2005065760003,57,Urban
3,Rodneyfort,2019-02-10 23:22:03,23.44,5149245426178,34,Urban
4,South Jack,2019-03-06 04:28:35,34.58,3908451377344,46,Urban